name: Build, test and publish images

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:

  docker:
    name: Build, test and publish
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[skip ci]') && !contains(github.event.commits[0].message, '[ci skip]')"
    strategy:
      matrix:
        version: [ '5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1' ]
        flavor: [ '', '-apache', '-fpm' ]
        include:
          - version: 'latest'
            flavor: ''
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build image for testing
        uses: docker/build-push-action@v2
        with:
          cache-from: type=registry,ref=chialab/php:${{ matrix.version }}${{ matrix.flavor }}
          cache-to: type=inline
          context: .
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php:${{ matrix.version }}${{ matrix.flavor }}
          load: true

      - name: Test image
        env:
          VERSION: ${{ matrix.version }}${{ matrix.flavor }}
        run: |
          make test VERSION=${VERSION}

      - name: Login to DockerHub
        if: "github.event_name != 'pull_request'"
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image and push to registry
        if: "github.event_name != 'pull_request'"
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref=chialab/php:${{ matrix.version }}${{ matrix.flavor }}
          cache-to: type=inline
          context: .
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php:${{ matrix.version }}${{ matrix.flavor }}
          push: true

      - name: Build dev image for testing
        if: "github.event_name != 'pull_request'"
        uses: docker/build-push-action@v2
        with:
          cache-to: type=inline
          context: ./dev
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php-dev:${{ matrix.version }}${{ matrix.flavor }}
          load: true

      - name: Test dev image
        if: "github.event_name != 'pull_request'"
        env:
          VERSION: ${{ matrix.version }}${{ matrix.flavor }}
        run: make -C dev test VERSION=${VERSION}

      - name: Build dev image and push to registry
        if: "github.event_name != 'pull_request'"
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          cache-to: type=inline
          context: ./dev
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php-dev:${{ matrix.version }}${{ matrix.flavor }}
          push: true

      - name: Build xhprof image for testing
        uses: docker/build-push-action@v2
        with:
          cache-to: type=inline
          context: ./xhprof
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php-xhprof:${{ matrix.version }}${{ matrix.flavor }}
          load: true

      - name: Test xhprof image
        if: "github.event_name != 'pull_request'"
        env:
          VERSION: ${{ matrix.version }}${{ matrix.flavor }}
        run: make -C xhprof test VERSION=${VERSION}

      - name: Build xhprof image (amd64 only) and push to registry
        if: "github.event_name != 'pull_request'"
        uses: docker/build-push-action@v2
        with:
          cache-to: type=inline
          context: ./xhprof
          build-args: |
            BASE_IMAGE=${{ matrix.version }}${{ matrix.flavor }}
          tags: chialab/php-xhprof:${{ matrix.version }}${{ matrix.flavor }}
          push: true
